@import "colors.less";

// V2
X.zYZlv,
X.t8qpF {
    // month view
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
        white-space: nowrap;
    }
}

X.SU7tYb {
    // day view
    justify-content: space-between;
    padding-right: 5px;
    align-items: flex-start;

    .bDay {
        margin: 10px 6px 0 0;
        text-align: right;

        span {
            display: block;
            font-size: .75em;
        }
    }
}

X.cKWEWe {
    white-space: nowrap;
    font-size: .75em;
    line-height: 1.3em;
    text-align: right;
    margin-top: 1px;
    margin-right: 2px;
    width: min-content;
    max-width: 60%;
}

// V2 Nov 2018
.zYZlv {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bDay {
        // Jan 2020
        padding: 0 1px 0 4px;
        line-height: 1em;
        font-size: 0.7rem;
        white-space: nowrap;
        margin: 0;
    }

    .bDayHD {
        // Jan 2020
        padding: 1px;
        line-height: 1em;
        font-size: 0.7rem;
        margin: 0;
        white-space: normal;
    }
}

.RKLVef {
    .bDay {
        font-size: 0.5em;
        letter-spacing: normal;
        line-height: normal;
        margin: 0 -15px;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        white-space: nowrap;
    }

    .bDayHD {
        position: absolute;
        top: -2px;
        font-size: 0.4em;
        letter-spacing: normal;
        line-height: normal;
        margin: 0 -15px;
        position: absolute;
        left: 0;
        right: 0;
    }

    &.KSxb4d.F262Ye {

        .bDay,
        .bDayHD {
            color: black;
        }
    }
}

// .bDay{
//      // pre Nov 2018
//      border-radius: 3px;
//      color: #212121;
//      padding: 1px 3px;
//      white-space: nowrap;
//      overflow: hidden;
//      text-overflow: ellipsis;
// }
.bDay,
.bDayHD {
    cursor: default;

    img {
        vertical-align: text-top;
        margin-right: 3px;
    }

    &.element1 {
        background-color: @lightFire;
    }

    &.element2 {
        background-color: @lightAir;
        border-color: @darkAir;
    }

    &.element3 {
        background-color: @lightWater;
    }

    &.element4 {
        background-color: @lightEarth;
    }

    &.firstBDay {
        &.element0 {
            color: #555;
        }

        &.element1 {
            color: #fff;
            background-color: @darkFire;
        }

        &.element2 {
            background-color: @darkAir;
        }

        &.element3 {
            color: #fff;
            background-color: @darkWater;
        }

        &.element4 {
            color: #fff;
            background-color: @darkEarth;
        }
    }
}

// month view
div.month-row {
    .bDay {
        float: right;
        font-size: .9em;
        line-height: 1.3em;
        margin: 1px 0 0 0;
    }
}

// agenda view
.lv-datecell {
    .bDay {
        font-weight: normal;
        padding: 2px 0 2px 4px;
        margin: 3px 0 0 -4px;

        &.firstBDay {
            font-weight: bold;
        }
    }
}

// popup
.neb-header,
.tile {
    .bDay {
        display: inline-block;
        padding: 2px 4px 2px 4px;
        margin: -2px 0 5px -5px;
    }
}

// popup view 2
.hin-bubble {
    .when {
        .bDay {
            display: inline-block;
            padding: 2px 4px 2px 4px;
            margin: -3px 0 0 -4px;
        }
    }
}

.drs {
    .bDay {
        display: inline-block;
        padding: 2px 4px 2px 4px;
        margin: -2px 0 0 0;
    }
}

.wk-dayname {
    .bDay {
        font-weight: normal;

        &.firstBDay {
            font-weight: bold;
        }
    }

    .bDayWrap {
        margin: 3px 0 0 0;

        .bDay {
            display: inline;
            padding: 1px 4px;
        }
    }
}